html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.logo{
display:inline-block;
width:50%;
}
body{
  margin: 0px;
}
nav{
display:inline-block;
width:50%;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:999;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
ul span img{
  width:20px;height: 15px;
}
.active {
    background-color: #115c87;
}




.column {
  float: left;
  width: 33.3%;
  padding: 0 8px;
}

.col{
  text-align: center;
  font-style: oblique;
  text-shadow: 5px 3px grey;
  font-size: 30px;
  color: #115c87;

}

@media (max-width: 650px) {
  .row{
    width: 100%;
    display: block;
  }
  .column {
    width: 100%;
    display: block;
    margin: 0;
  }

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container h2{
  font-size: 18px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.card img
{
	cursor: pointer;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.card img:hover
{
	border-radius: 50%;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.7;
}
